<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Users
            <small>List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Users</a></li>
            <li class="active">Users List</li>
        </ol>
    </section>
    <div class="form-group">
        <div class="alert alert-success" ng-show="del">
            <strong ng-bind="del" ></strong> 
        </div>
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">



                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Users List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Sr. no</th>  
                                    <th>Name</th>                                  
                                    <th>Email</th>                         
                                    <th>Role</th>       
                                    <th>Created</th>
                                    <th>Edit</th>
                                    <th>View</th>
                                    <th>Delete</th>
                                             
                                    <!--<th>Provides in</th>-->
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="user in users | orderBy: '-created_at' track by $index ">
                                    <td ng-class="'{{user._id}}'">{{$index + 1}}</td>
                                                                                
                                    <td ng-class="'{{user._id}}'">{{user.firstname}} {{user.lastname}}</td>                                              
                                    <td ng-class="'{{user._id}}'">{{user.email}}</td>
                                    <td ng-class="'{{user._id}}'">{{user.role}}</td>      
                                    <td ng-class="'{{user._id}}'">{{user.created_at | date}}</td>     
                                    <td ng-class="'{{user._id}}'">
                                        <a ui-sref="editUser({paraml:user._id})">
                                            <i class="fa fa-edit"></i>Edit</a></td>  

                                            <td ng-class="'{{user._id}}'" ng-click='setActive(user)' style="cursor: pointer">

                                        View</td> 
                                    <td ng-click="deleteUser(user._id)" ng-class="'{{user._id}}'" ng-show="{{user.role!='admin'}}" style="cursor: pointer">

                                        Delete</td>       
                                </tr>                                
                            </tbody>
                            <!--<tfoot>
                                <tr>
                                    <th>Sr. no</th>                                    
                                    <th>Email</th>
                                    <th>Dob</th>
                                    <th>Created</th>
                                    <th>Edit</th>
                                    <th>View</th>
                                    <th>Delete</th>
                                </tr>
                            </tfoot>-->
                        </table>
                    </div>
                    <div class='col-sm-8 full-height'>
                        <div ng-show="activeUser.email">

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">Single data</h3>


                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-hover">
                                                <tr>
                                                    <th>Fields</th>
                                                    <th>Data</th>

                                                </tr>
                                                <tr>
                                                    <td>Name</td>
                                                    <td>{{activeUser.firstname}} {{activeUser.lastname}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Role</td>
                                                    <td>{{activeUser.role}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Email</td>
                                                    <td>{{activeUser.email}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Phone </td>
                                                    <td>{{activeUser.phone}}</td>
                                                </tr>
                                                <tr ng-if="activeUser.image != undefined || activeUser.image != ''">
                                                    <td>Profile Pic</td>
                                                    <td> <img src="{{activeUser.image}}" style="width:100px;"></td>
                                                </tr>
                                                <tr ng-if="activeUser.role != 'user'">
                                                    <td>Business Information</td>
                                                    <td> --- </td>
                                                </tr>
                                                 <tr ng-if="activeUser.role != 'user'">
                                                    <td>Business Name</td>
                                                    <td> {{activeUser.org_name}} </td>
                                                </tr>
                                                <tr ng-if="activeUser.role != 'user'">
                                                    <td>Business Description</td>
                                                    <td> {{activeUser.org_description}} </td>
                                                </tr>
                                                <tr ng-if="activeUser.role != 'user'">
                                                    <td>Title </td>
                                                    <td> {{activeUser.title}} </td>
                                                </tr>
                                                 <tr ng-if="activeUser.role != 'user'">
                                                    <td>Business Email</td>
                                                    <td> {{activeUser.cont_email}} </td>
                                                </tr>
                                                 <tr ng-if="activeUser.role != 'user'">
                                                    <td>Business Phone </td>
                                                    <td> {{activeUser.org_phone}} </td>
                                                </tr>
                                                
                                                <tr ng-if="activeUser.role == 'vendor'">
                                                    <td>Provides services in : </td>
                                                    <td> <span ng-repeat="city_ in activeUser.city">{{city_}}, </span></td>
                                                </tr>
                                                <tr>
                                                    <td>Status</td>
                                                    <td>{{activeUser.status==1 ? "Activate" : "DeActivate"  }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
