<!-- FOOTER SECTION -->
<section id="section-footer" class="col-xs-12">     
      <section class="col-xs-12 footer-widget widget-social widget-social-h has-bg text-center">
	 
	  <ul>
	    <li><a href="{{texts.instagram}}"><i class="fa fa-instagram"></i></a></li>
	    <li><a href="{{texts.twitter}}"><i class="fa fa-twitter"></i></a></li>
	  </ul>
      </section>
	
	
      <footer class="col-xs-12 copyright dark-bg">
	    <div class="col-xs-12">
		  <div>{{'GATHERING' | translate }} {{'&copy; 2017 - All rights reserved.' | translate }} </div>
	    </div>
      </footer>

</section>  